.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  height: 293px;
}
.header__link {
  text-decoration: underline;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list {
  display: flex;
  gap: 31px;
  list-style: circle;
  font-weight: 400;
}
.header__links-list-item {
  font-size: 18px;
  line-height: 100%;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__logo-image {
  height: 105px;
  width: 148px;
  background-size: contain; /* сохранение пропорций */
  background-repeat: no-repeat; /* изображение не повторяется */
}
.header__address {
  width: 240px;
  justify-self: end;
  line-height: 24.3px;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: flex-start;
  line-height: 24.3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 52px;
}
.footer_address {
  width: 264.57px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__social-icon-youtube {
  background-image: url(../../images/yt.svg);
}
.footer__social-icon-vk {
  background-image: url(../../images/vk.svg);
}
.footer__social-icon-pinterest {
  background-image: url(../../images/pinterest.svg);
}
.footer__menu {
  width: 163.9px;
  text-align: center;
}
.footer__menu-link {
  text-decoration: underline;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-list-item {
  list-style: none;
  font-size: 18px;
}
.footer__social-list {
  display: flex;
  gap: 48px;
}
.footer__social-list-item {
  list-style: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  min-height: 757px;
  background-size: cover; /* сохранение пропорций */
  background-repeat: no-repeat; /* изображение не повторяется */
  background-position: center top;
  margin-bottom: 180px;
}
.cover__title {
  position: relative;
  letter-spacing: 0.3em;
  font-size: 100px;
  line-height: 115%;
  padding: 165px 50px 106px 50px;
  text-transform: uppercase;
}
.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0 50px;
}
.cover__description-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.125em;
}
.cover__description-button {
  padding: 12px 32px 11px 31px;
  background: transparent;
  color: #ffffff;
  border: 1px solid white;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  font-size: 100;
  color: #ffffff;
}
.aligned-text_center {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
}
.aligned-text_right {
  text-align: right;
  padding-top: 20px;
  padding-left: 614px;
}

.lots {
  width: 1052px;
  margin: 0 auto 120px;
  margin-bottom: 120px;
}
.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 40px;
}
.lots__card-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.lots__card-list-item {
  margin-top: 27px;
  position: relative;
  list-style: none;
}
.lots__look {
  margin: 30px;
  margin-left: 40px;
}
.lots__look-more-link {
  font-size: 20px;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  font-weight: 100;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center top;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center top;
}
.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  position: relative;
  line-height: 120%;
}
.card__text {
  font-size: 20px;
  line-height: 120%;
  position: relative;
  width: 254px;
}

.about {
  width: 1052px;
  margin: 0 24px 180px;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}
.about-text--widht-1 {
  width: 688px;
}
.about-text--widht-2 {
  width: 693px;
}
.about__column {
  display: grid;
  grid-template-columns: 315px 1fr;
  padding-top: 35px;
  padding-left: 47px;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  text-transform: uppercase;
  font-size: 40px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 102px;
}
